<p>
  <%= form_for([@parent_comment, @comment]) do |f| %>
    <div class="form-group">
      <%= f.text_area :body, :rows => "5", :cols => "50", :id => "comment-#{@parent_comment.id}-comment-body" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.button "Confirm", class: "btn btn-sm btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
    </div>
  <% end %>
</p>
