<div class="content">
  <%= comment.body %><br>
   <p>-<%= comment.user.username %></p>
</div>

<% comment.children.each do |i| %>
  <% if i.has_children? == false %>
    <div class="nested_comments"> <%= render i %></div>
  <% end %>
  <% if i.has_children? == true %>
    <div class="nested_comments"> <%= render i %></div>
  <% end %>
<% end %>
