<%= form_for([@issue, @comment]) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, :rows => "6", :cols => "60", :id => "issue-#{@issue.id}-comment-body" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.button "Comment on this issue", class: "btn btn-sm btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
  </div>
<% end %>
