<div class="row">
  <div class="col-md-3">
    <%= render @user %>

    <% if @user == current_user %>
      <p><%= link_to "Customize or cancel your account", edit_user_registration_path %></p>
      <hr>
      <%= render "/users/avatar_form" %>
      <br>
    <% end %>

  </div>
</div>
