body {
  background-image: url('background.png');
  background-color: #cccccc;
  font-family: "Comic Sans MS";
}

.navbar {
  background-image: url("navbar_background.png");
}

#thumbnail {
  height: 300px;
  margin-top: 15px;
}

.form-group {
  margin-bottom: 0px;
}

.search-bar {
  margin-top: 20px;
  margin-right: 15px;
}

.comic-nav {
  margin-top: 15px;
}

.navbar a {
  color: black !important;
}

#page-title {
  margin-bottom: 0px;
}

#logged-in-as {
  text-decoration: none;
  cursor: text;
}

.subtext {
  color: #828282;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments
.nested_comments .nested_comments .nested_comments
.nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}
